.btn:focus {
    box-shadow: 0 10px 15px #af005733;
}

.form-block {
    input, textarea {
        margin: 0;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-text {
        font-size: 13px;
    }
}

.help-block.with-errors {
    margin: -10px 0 10px 0;
    font-size: 12px;
    position: relative;
    bottom: unset;
}

.main-header.menu-white {
    .custom-nav .nav-list li a.menu-links {
        color: #050748;
    }

    .mega-white-logo {
        display: none;
    }

    .mega-darks-logo {
        display: inline-block;
    }
}

.main-header.menu-white .custom-nav .nav-list li a.menu-links {
    color: #050748;
}

.entry-blog-post span {
    color: #fff;
    font-size: 14px;
}

.single-blog-info- {
    color: #6a6a8e;
}

.breadcrumb-area .bread-menu li span {
    color: #6a6a8e;
    font-size: 16px;
    font-weight: 400;
    padding-right: 6px;
    display: inline-block;
}

.recent-post .media div:first-child {
    flex-shrink: unset;
}

.layer-div::before {
    background: unset;
}

.owl-carousel .owl-item img {
    margin-top: 10px;
}

a.isotope_item {
    color: #6a6a8e;
}

.pagination {
    display: flex;

    li > a, li > span {
        color: #222;
        width: 50px;
        height: 50px;
        line-height: 50px;
        padding: 0;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 100% !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: transparent !important;
        box-shadow: unset !important;
    }

    li.active > a, li.active > span {
        background-color: #436ad6 !important;
        border-radius: 100%;
        color: #fff;
    }

    li > a:hover, li > a:focus {
        color: #222;
        background-color: rgba(67, 106, 214, 0.1);
    }
}

.post-info p {
    color: #6a6a8e;
}

.recent-post .media div:first-child {
    flex-shrink: 0;
}
